.OlympiaItem {
  &:hover {
    img {
      transform: scale(1.1);
      display: block;
    }

    strong {
      border: 1px solid #fdfbf9;
      background: #eb2529;
      color: #fdfbf9;
    }

    span {
      color: #fdfbf9;
    }
  }
}
